@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik+Dirt&display=swap');

:root {
  font-size: 20px;
  --saturation-factor: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  letter-spacing: 0.02em;
  border: none;
  outline: none;
}

body {
  font-family: 'Oswald', sans-serif;
  color: white;
  background: var(--background-primary);
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik Dirt', cursive;
}

a {
  text-decoration: none;
  color: var(--primary);
}


button,.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.primary {
  color: white;  
  background: var(--primary);
}
.primary:hover {
  background: var(--primary-hover);
}

.container {
  margin-inline: 0;
}

.theme-dark {
  --background-primary: hsl(220,calc(var(--saturation-factor, 1)*7.7%), 12.9%);

  --primary: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
  --primary-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);

}