@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik+Dirt&display=swap');

:root {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  letter-spacing: 0.02em;
  border: none;
  outline: none;
}

body {
  font-family: 'Oswald', sans-serif;
  color: white;
  background: var(--background);
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik Dirt', cursive;
  font-weight: normal;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 32px;
}
a {
  text-decoration: none;
  color: var(--primary);
}


button,.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.primary {
  color: white;  
  background: var(--primary);
}
.primary:hover {
  background: var(--primary-hover);
}

.container {
  margin-inline: auto;
}

.theme-dark {
  --background: #262627;
  --primary: #5865f2;
  --primary-hover: #5865f2;
}